<div class="main-container">
    <h1>Todo List</h1>

    <ul *ngIf="!isLoading">
        <li *ngFor="let item of todoList">
            <app-to-do-list-item [itemData]="item" (onDelete)="deleteItem($event)" ></app-to-do-list-item>
        </li>
    </ul>

    <div *ngIf="isLoading"  style="height: 100px; width:100%;"> 
        <span class="loader"></span>
    </div>
    
    <div class="add-item-container">
        <mat-form-field>
            <input matInput [(ngModel)]="inputedValue"  placeholder="Add your new todo" type="text">
        </mat-form-field>
        <app-button-component [title]="'Add task'"  [disabled]="inputedValue.length == 0" (onButtonClicked)="addItem()"></app-button-component>
    </div>

</div>