:host {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.main-container {
    box-sizing: border-box;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;
}


.sub-container{
    display: flex;
    gap:30px;
}


.add-item-container {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.add-item-input {
    height: 100%;
    width: 100%;
    font-size: 12pt;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(249, 249, 249);
    transition: ease-in 0.3s;
}

.add-item-input:focus-visible{
    outline: 1px solid rgb(167, 167, 167);
}

textarea{
    border-radius: 10px;
    padding: 10px;
}

.textarea{
    width: 100%;
    min-height: 80px;
}
.description{
    resize: none;
    height: 300px;
    width: 180px;
}

.selected{
    background-color: rgb(54, 61, 97)!important;

}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #929292;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 